<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Alta de Profesor</title>
</head>
    <body class="bg-gray-100 flex items-center justify-center min-h-screen p-4">
        <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
            <h1 class="text-3xl font-bold text-center text-gray-800 mb-6">Registrar Profesor</h1>
            <form action="/profesor" method="post">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required><br><br>

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required><br><br>

            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" required><br><br>

            <label for="email">Correo:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="telefono">Telefono:</label>
            <input type="text" id="telefono" name="telefono" required><br><br>

            <label for="direccion">Direccion:</label>
            <input type="text" id="direccion" name="direccion" required><br><br>



        <button type="submit">Registrar</button>

        <a href="/profesor" class="text-blue-600 hover:underline text-sm mt-2 block">Volver al inicio</a>
    </form>
    {{#successMessage}}
        <p style="color:green;">{{successMessage}}</p>
    {{/successMessage}}

    {{#errorMessage}}
        <p style="color:red;">{{errorMessage}}</p>
    {{/errorMessage}}
</body>
</html>